/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

//  Colors
$primary: #253443;
$secondary: #00A686;
$tertiary: #FFAA00;
$gray: #929191;
$lightGray: #dedede;
$offwhite: #f0f0fa;
$white: #fff;
$black: #000;
$dark: #4b4b4b;

// Font Families
// Add new families here
$openSans: "open-sans",sans-serif;
$overpass: 'Overpass', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Set Box Shadows
$box_shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
$box-shadow--white: 0 0 5px 3px rgba(255, 255, 255, .35);

// Spacing Variables
$gutter: 10px;
