/*------------------------------------------------------------------------------
  CTA
------------------------------------------------------------------------------*/
.cta {
  margin: rem(100) auto;
  padding-left: rem(50);
  padding-right: rem(50);
  max-height: 500px;

  h2 {
    color: $white;
    font-size: 62px;
    margin-top: rem(80);
  }

  &__content-img {
    bottom: 100px;

    img {
      max-height: 600px;
    }
  }

  .button--outline {
  &:hover {
    color: $secondary !important;
 }
}

}

// Media Queries
@media screen and (max-width:$small-breakpoint) {
  .cta {
    padding-bottom: rem(50);
    h2 {
      font-size: 42px;
    }

    &__content-img {
      bottom: 0;
    }
  }
}

// Media Queries
@media screen and (max-width:$medium-breakpoint) {
  .cta {
    padding-bottom: rem(50);
  }
}
