/*------------------------------------------------------------------------------
  Dropdown
------------------------------------------------------------------------------*/
.dropdown {
  padding: rem(80) 0;

  h2 {
    font: bold 56px/46px $openSans;
    color: #333;
  }

  h5 {
    font: bold 22px/26px $openSans;
    margin: 0 auto 10px;
  }

  .hide-overflow {
    overflow: hidden;
  }

  &__no-pad {
    padding: 0 !important;
  }

  &__box {
    padding: 40px 0;
    border-radius: 4px;

    h2 {

      span {
        font-weight: bold;
        color: $primary;
      }

      a {
        display: block;
        padding: 20px 40px 20px 18px;
      }
    }

    h6 {
      font: 400 18px/22px $openSans;
      padding: 0 40px;
      font-weight: 900;
    }

    img {
      margin: 20px auto;
      padding: 0 2px;
      transform: scale(1.01);

      &.image-1 {
        padding-left: 0;
        padding-right: 4px;
      }
      &.image-3 {
        padding-left: 4px;
        padding-right: 0;
      }
    }

    &__bottom-text {
      padding: 5px 40px;
    }
  }

  .accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: relative;
    padding: 0;
    border-top: 0px solid $gray;
    border-left: 0px solid $gray;
    border-right: 0px solid $gray;
    border-bottom: 0;

    &:hover:after {
      right: -5px;
    }

    h5 {
      padding: 10px 55px 10px 10px;
      margin-bottom: 0;
    }
  }

  .active, .accordion:hover {
    background-color: #eee;
    border-radius: 10px;
    //border-top: 2px solid $secondary;
  }

  .accordion:after {
    content: "";
    background-image: url('../img/arrow-point-right.svg');
    width: 30px;
    height: 30px;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 25px;
    position: absolute;
    right: 0;
    top: 8px;
    transition: all 0.2s ease;
  }

  .active:after {
    content: "";
    background-image: url('../img/arrow-point-down.svg');
  }

  .panel {
    text-align: left;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    //border-left: 2px solid $gray;
    //border-right: 2px solid $gray;
    //border-bottom: 2px solid $gray;
  }

}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .dropdown {
    &__box {

      h2 {
      padding: 0 20px;
      }

      h6 {
        padding: 0;
      }

      img {
        padding: 0;

        &.image-1 {
          padding-left: 0;
          padding-right: 0;
        }
        &.image-3 {
          padding-left: 0;
          padding-right: 0;
        }
      }

      &__bottom-text {
        padding: 0 12px;
      }
    }
  }
}
