/*------------------------------------------------------------------------------
  50/50
------------------------------------------------------------------------------*/
.fifty-fifty {
  padding: rem(100) 0 rem(50);
  overflow: hidden;

  &.background {
    padding-top: rem(150);
    background: url('../img/section-bg-img.jpg') left top/100% auto no-repeat;
  }

  h3 {
    padding: 0;
    margin-bottom: 0;
    color: $primary;
    font-size: 46px;
  }

  hr {
    max-width: 30%;
    border: 2px solid $tertiary;
    margin-left: 0;
  }

  .button {
    margin-top: rem(25);
    margin-bottom: rem(50);
  }

  ul {
    text-align: left;
  }

  p {
    line-height: 36px;
  }
}

// Media Queries
@media screen and (max-width:$small-breakpoint) {
  .fifty-fifty {
    padding: rem(30) 0;

    h3 {
      margin-top: rem(15);
      margin-bottom: rem(15);
      color: $primary;
      font-size: 36px;
    }

    hr {
      max-width: 50%;
      border: 2px solid $tertiary;
      margin: auto;
    }

    &.background {
      padding-top: rem(75);
    }

    .col-5 {
      margin-top: rem(30);
    }

    &__content {
      order: 2;
    }

    &__img {
      order: 1 !important;
    }

    p {
      line-height: 34px;
    }
  }
}

// ie11 Fixes
.ie-11 {
  .fifty-fifty .row .col-6, .fifty-fifty .row .col-5 {
    max-height: 450px;
  }
}
